{% extends 'base.html' %}
{% block content %}

<h1>Concert Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title"></span>
    <p>Artist: {{ concert.artist }}</p>
    <p>Location: {{ concert.location }}</p>
    <p>Date: {{ concert.date }}</p>
    <p>Time: {{ concert.time }}</p>
  {% for photo in concert.photo_set.all %}
    <img class="responsive-img card-panel" src="{{ photo.url }}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded!</div>
  {% endfor %}
  </div>
  <div class="card-action">
    <a href="{% url 'concerts_update' concert.id %}">Edit</a>
    <a href="{% url 'concerts_delete' concert.id %}">Delete</a>
  </div>
</div>

<!-- Form for Uploading Photos :) -->
<!-- This form is not UI friendly. Need to find a better solution??? -->
<form action="{% url 'add_photo' concert.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
    <input type="file" name="photo-file">
      <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ concert.artist }} Reviews</h3>
    {% if concert.reviews.count %}
      {% for review in concert.reviews.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_review' concert.id review.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Reviews :(</h5>
    {% endif %}
  </div>
  

<div class="col s6">  
<h3><a href="{% url 'reviews_create' %}">Add Review</a></h3>
</div>
  

<script>
    // create a date picker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>

{% endblock %}
