{% extends 'base.html' %}

{% block content %}
<h1 class="color">About Showganize</h1>
<hr />
<p class="style">
    This app allows you to compile a list of which concerts in your area that you would like to attend. After the concert, you will be able to write reviews and post photos or videos.
<br><br>
    Stay tuned for future features that will include an in-app calendar for more streamlined organizing, the ability to connect with your friends and share concert information, and integration with ticket-buying apps.

<br><br>
  <div class="different"> The PyVengers are:</div>
  <br>
<li class="style">Regina Campos</li>
<li class="space"> rmscampos@gmail.com</li> 
<li class="style">Ruhi Prasla</li>
<li class="space">ruhiprasla94@gmail.com</li>
<li class="style">Anthony Torres</li>
<li class="space">anthony.torres0926@gmail.com</li>
</p>


{% endblock %}