{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Showganize</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav class="#90a4ae blue-grey lighten-2">
      <div class="nav-wrapper">
        <ul>
            <li><a class="left brand-logo"><img src="https://i.imgur.com/XgaOfmY.png" width="80" height="65"></a></li>
          <li><a href="/" class="center brand-logo">&nbsp;&nbsp;Showganize</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="#90a4ae blue-grey lighten-2" class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019 PyVengers &nbsp;</div>
  </footer>
</body>
</html>